:root {
    /*** FONTS ***/
    --alata: 'Alata', sans-serif;
    --josefin-sans: 'Josefin Sans', sans-serif;

    /*** COLORS ***/
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --dark-gray: hsl(0, 0%, 55%);
    --very-dark-gray: hsl(0, 0%, 41%);
}

/*---------- GENERAL RULES ----------*/

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-size: 15px;
}

img {
    max-width: 100%;
}

button {
    background: transparent;
}

a {
    color: var(--white);
    font-family: var(--josefin-sans);
}

h1, h2, h3 {
    font-family: var(--josefin-sans);
}

.container {
    width: 90%;
    margin: 0 auto;
}

/*---------- HEADER ----------*/

.hero {
    background-image: url('../images/mobile/image-hero.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3em 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    width: 150px;
}

.nav-menu {
    position: absolute;
    background: var(--black);
    padding: 3em 0;
    width: 0;
    overflow: hidden;
    left: 0;
    top: 0;
    height: 100vh;
    transition: .4s;
}

.show-menu {
    width: 100vw;
}

.nav-item {
    margin-bottom: 1.8em;
}

.nav-menu .nav-link {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5rem;
}

.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 150px;
}

.menu-button {
    border: none;
}

.hero-title {
    color: var(--white);
    text-transform: uppercase;
    font-size: 2.8em;
    border: 1px solid var(--white);
    padding: .5em;
    margin-top: 4em;
}